@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-whitebg: #e0edfe;
  --color-wprimary: #224d94;
  --color-wtext: #d1d5db;

  --color-blackbg: #23272f;
  --color-bprimary: #1a1a1a;
}

html {
  max-height: 100vh;
}
