@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-whitebg: #e0edfe;
  --color-wprimary: #224d94;
  --color-wtext: #D1D5DB;

  --color-blackbg: #23272F;
  --color-bprimary: #1a1a1a;
}
